@media only screen and (min-width: 350px) and (max-width: 600px){
   .support-company-area .support-wrapper .right-content .right-img img{
        max-width:70%;
        position:relative;
        left:75px;

    }
    .support-company-area .support-wrapper .right-content .support-img-cap{
        width:85px;
        height:85px;
        margin-left:50px;

    }
    .support-company-area .support-wrapper .right-content .support-img-cap p{
        font-size:10px;
        position:absolute;
        left:15px;
        top:20px;

    }
    .support-company-area .support-wrapper .right-content .support-img-cap span{
        font-size:20px;
        position:absolute;
        left:-15px;
        top:30px;

    }

    .mobile_menu{
        position:fixed;
        margin:15px;
    }

    .mobile_menu .slicknav_nav a:hover{
        color:#BA283B;

    }
    iframe {
     max-width: 80% ;
     height: 100%;
    }
}