{% extends 'core/base/base.html' %}
{% load static %}
{% block content %}
<!-- About Area Start -->
<section class="support-company-area fix pt-10 section-padding30" data-aos="fade-left">
    <div class="support-wrapper align-items-end">
        <div class="left-content">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-55">
                <div class="front-text">
                    <h2 class="">Sobre nosotros</h2>
                </div>
                <span class="back-text">Sobre nosotros</span>
            </div>
            <div class="support-caption">
                <p class="pera-top"></p>
                <p>Somos una empresa fabricantes de todo lo relacionado con
                    vidrio crudo, templado, aluminio y acero, siempre
                    ofreciendo la mejor calidad en nuestros servicios
                    satisfaciendo las necesidades de nuestros clientes y
                    buscando el continuo mejoramiento de nuestra empresa</p>
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <img src="{% static 'img/gallery/logo.png' %}" alt="">
            </div>
            <div class="support-img-cap text-center">
                <p>Desde</p>
                <span>2017</span>

            </div>
        </div>
    </div>
</section>
<!--        Mision y vision-->
<section class="support-company-area fix pt-10 section-padding30" data-aos="fade-right">
    <div class="support-wrapper align-items-end">
        <div class="left-content">
            <!-- section tittle -->
            <!-- img -->
            <div class="left-img">
                <img style="width:100%;" src="{% static 'img/gallery/img1.png' %}" alt="">
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <h2 class="">Nuestra Misión</h2>
                    </div>
                    <span class="back-text">Nuestra Misión</span>
                    <div class="support-caption">
                        <p class="pera-top"></p>
                        <p class="description">Satisfacer las necesidades de nuestros clientes
                            brindando un servicio en el que predomine el conocimiento
                            de sus necesidades, para así poder acompañarlos en la
                            realización de sus proyectos, ofreciéndoles un servicio
                            de calidad, con un equipo comprometido y con basta
                            experiencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--                Visión-->
    <section class="support-company-area fix pt-10 section-padding30" data-aos="fade-left">
        <div class="support-wrapper align-items-end">
            <div class="left-content">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <h2 class="">Nuestra Visión</h2>
                    </div>
                    <span class="back-text">Nuestra Visión</span>
                </div>
                <div class="support-caption">
                    <p class="pera-top"></p>
                    <p class="description">Ser una empresa reconocida en el sector por nuestro buen servicio
                        de calidad y buen trato hacia nuestros clientes, cumpliendo así con
                        todas las expectativas</p>
                </div>
            </div>
            <div class="right-content">
                <!-- img -->
                <div class="right-img">
                    <img src="{% static 'img/gallery/img2.png' %}" alt="">
                </div>

            </div>
        </div>
    </section>
    <!-- About Area End -->
    {% endblock %}