{%extends 'core/base/base.html' %}
{%load static %}
{%block content %}
<section class="project-area  section-padding30">
    <div class="container">
        <div class="project-heading mb-35">
            <div class="row align-items-end">
                <div class="col-lg-6">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle3">
                        <div class="front-text">
                            <h2 class="">Proyectos</h2>
                        </div>
                        <span class="back-text">Proyectos</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Nav Card -->
                <div class="tab-content active" id="nav-tabContent">
                    <!-- card ONE -->
                    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="project-caption">
                            <div class="row">
                                {% if projects %}
                                {%for project in projects %}
                                <div class="col-lg-4 col-md-6" data-aos="fade-up">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="{{project.image.url}}" alt="">
                                        </div>
                                        <div class="project-cap">
                                            <!--                                                    <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>-->
                                            <h4><a>{{project.title}}</a></h4>
                                            <!--                                                <h4><a href="">{{project.service}}</a></h4>-->

                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                                {%endif%}

                            </div>
                        </div>
                    </div>
                    <!-- End Nav Card -->
                </div>
            </div>
        </div>
</section>
<!-- Project Area End -->

{%endblock%}